*.o
*.lo
*.a
*.d
*.cmd
*.mod*
obj/
build/
build-*/

*.so
*.so.1
*.elf
*.exe
*.out
*.app

*.map
*.ko
*.dSYM/

config.mak
lib/musl-gcc.specs

.vscode/
.idea/
*.iml

.DS_Store
*~
*.swp
*.bak
*.tmp
*.log

.cache/
__pycache__/
*.pyc
cscope.out
tags
TAGS
.mypy_cache/
.pytest_cache/
